<article>
  <section style="width: 33%; display: inline-block; vertical-align: top">
    <% @users.each do |user| %>
    <h1><%= user.avatar %></h1>
    <h2><%= user.name %></h2>
  <% end %>
  </section>
  <section style="width: 66%; display: inline-block;">
    <div style="width: 100;">
      <h2> @user.reputation </h2>
    </div>
    <div style="width: 49%; display: inline-block;">
      <h2>Mentoring</h2>
      <h2>@user.skills</h2>
      <h2>@user.projects</h2>
    </div>
      <div style="width: 49%; display: inline-block;">
      <h3>Mentoring</h3>
      <h2>@user.skills</h2>
      <h2>@user.projects</h2>
    </div>
  </section>
  <button>See Mentor's Profile</button>
</article>
