<section class="home-projects-sidebar">
  <h2>Projects</h2>
  <h3>Mentor</h3>
  <p>Yooo</p>
  <p>Yooo</p>
  <h3>Mentee</h3>
  <p>Yooo</p>
  <p>Yooo</p>
  <p>Yooo</p>
  <p>Yooo</p>
  <p>Yooo</p>
  <%= link_to 'New Project', new_project_path %>
  <p><%= link_to 'My Archived Projects', user_archive_index_path(current_user.id) %></p>
</section>
