<section class="home-projects-sidebar">
  <%= link_to 'My Archived Projects', user_archive_index_path(current_user.id), { :class=>"btn" } %>
  <%= link_to 'New Project', new_project_path, { :class=>"btn new-project" } %>
  <h3>Mentor Projects</h3>
  <% @projects.each do |project| %>
    <% if current_user.id == project.mentor_id %>
      <% if project.completion_status_id == 1 %>
        <%= link_to project.name, project_path(project.id) %>
      <% end %>
    <% end %>
  <% end %>
  <h3>Mentee Projects</h3>
  <% @projects.each do |project| %>
    <% if current_user.id == project.mentee_id %>
      <% if project.completion_status_id == 1 %>
        <%= link_to project.name, project_path(project.id) %>
      <% end %>
    <% end %>
  <% end %>
</section>
