<section class="home-projects-sidebar">
  <h2>Projects</h2>
  <h3>Mentor</h3>
  <p>Yooo</p>
  <p>Yooo</p>
  <h3>Mentee</h3>
  <p>Yooo</p>
  <p>Yooo</p>
  <p>Yooo</p>
  <p>Yooo</p>
  <p>Yooo</p>
</section>
