<%= render 'projects_sidebar' %>
<section class="home-user-feed">
  <h1>User Feed</h1>
  <h1>User Feed</h1>
  <h1>User Feed</h1>
  <h1>User Feed</h1>
  <h1>User Feed</h1>
  <h1>User Feed</h1>
  <h1>User Feed</h1>
  <h1>User Feed</h1>
  <h1>User Feed</h1>
  <h1>User Feed</h1>
  <h1>User Feed</h1>
  <h1>User Feed</h1>
  <h1>User Feed</h1>
  <h1>User Feed</h1>
  <h1>User Feed</h1>
  <h1>User Feed</h1>
  <h1>User Feed</h1>
  <h1>User Feed</h1>
  <h1>User Feed</h1>
  <h1>User Feed</h1>
  <h1>User Feed</h1>
  <h1>User Feed</h1>
  <h1>User Feed</h1>
  <h1>User Feed</h1>
  <h1>User Feed</h1>
  <h1>User Feed</h1>
  <h1>User Feed</h1>
  <h1>User Feed</h1>
  <h1>User Feed</h1>
  <h1>User Feed</h1>
  <h1>User Feed</h1>
  <h1>User Feed</h1>
  <h1>User Feed</h1>
  <h1>User Feed</h1>
  <h1>User Feed</h1>
  <h1>User Feed</h1>
</section>
