<% if current_user.present? %>
  <% @project.mentor_id == current_user.id || @project.mentee_id == current_user.id ? mentor_mentee = true : mentor_mentee = false %>
<% else %>
  <% mentor_mentee = false %>
<% end %>

<% if @project.public || mentor_mentee %>


<section class="project-page">
  <h4>Project information</h4>
  <p><%= @project.name %><p>
</section>

<section class="skills">
    <%= render 'projects/project_skills' %>
</section>

<section class="goals">
  <%= render 'projects/project_goals' %>
</section>

<section class="comments">
  <%= render 'projects/project_comments' %>
</section>


<% else %>
  <h4>This is a private project, you have no permission to access it.</h4>
<% end %>
