<% if current_user %>
  Signed in as <%= current_user.name %>
  <%= link_to "Logout", '/logout' %>
<% end %>

<div id="wrapper" style="height: 100%; width: 100%;">

  <div id="register" style="width: 50%; display: block; float:left;">
    <%= render 'users/register' %>
  </div>

  <div id="login" style="width: 50%; display: block; float: left;">
    <%= render 'sessions/login' %>
  </div>

</div>
