// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.skills-and-goals {
  position: relative;
  background: #fff;
  overflow: hidden;
  -webkit-box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.2);
}


.skills {
  display: inline-block;
  width: 50%;
  float: left;
  box-sizing: border-box;
  border-right: 1px solid #ddd;
  margin: 20px 0;
  padding: 0 20px;

  .title {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .project_skills {
    width: 100%;

    input[type="text"] {
      padding: 2px 5px;
      width: 100px;
    }

    input[type="submit"] {
      font-size: 11px;
      display: inline-block;
      margin-left: 5px;
      padding: 4px 10px;
    }

  }

  .fa-times {
    color: #2753b5;
  }

}

.goals {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  margin: 20px 0;
  padding: 0 20px;

  .title {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .project_goals {
    width: 100%;

    input[type="text"] {
      padding: 2px 5px;
      width: 100px;
    }

    input[type="submit"] {
      font-size: 11px;
      display: inline-block;
      margin-left: 5px;
      padding: 4px 10px;
    }

  }

  .fa-times {
    color: #2753b5;
  }
}



.comments {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  overflow: hidden;
  background: #f9f9f9;
  border-top: 1px solid #ddd;

  h2 {
    font-size: 24px;
    text-align: center;
  }

  .add_comments {
    display: inline-block;
    width: 50%;
    float: left;
    box-sizing: border-box;
    border-right: 1px solid #ddd;
    margin: 20px 0;
    padding: 0 20px 0 0;

    textarea {
      max-width: 100%;
    }

  }

  .show_comments {
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
    float: right;
    padding: 20px;
  }

  .container_comments {
    width: 100%;
    height: 100px;
    overflow: scroll;
    background: #fff;
    border: 1px solid #ddd;
    padding: 5px 7px 5px;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 10px;

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
      }

    }

  }

  .mentor {
    background-color: #c2dac3;
  }

  .mentee {

  }

}

.rating-section {
  background: #fff;
  border-top: 1px solid #ddd;
  box-sizing: border-box;
  padding: 20px;
}

.feed-project-link {
  text-decoration: underline;
}

.alert_message {
  color: red;
}
