// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.skills {
  width: 35%;
  border: 1px solid #000000;
  margin: 5px;
  padding: 5px;

  .title {
    font-weight: bold;
    text-decoration: underline;
  }

  .project_skills {

    width: 100%
  }

  .fa-times {
    color: red;
  }

}

.goals {
  width: 35%;
  border: 1px solid #000000;
  margin: 5px;
  padding: 5px;

  .title {
    font-weight: bold;
    text-decoration: underline;
  }

  .project_goals {

    width: 100%
  }

  .fa-times {
    color: red;
  }
}



.comments {
  width: 35%;
  border: 1px solid #000000;
  margin: 5px;
  padding: 5px;

  .title {
    font-weight: bold;
    text-decoration: underline;
  }

  .add_comments {
    width: 100%
  }

  .show_comments {
    width: 100%
  }

  .mentor {
    background-color: #c2dac3;
  }

  .mentee {

  }

}

.alert_message {
  color: red;
}