body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
}

p, ol, ul, td, h1 {
  font-family: verdana, arial, helvetica, sans-serif;
  margin: 0 0 15px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

/* NAV */

.navbar {
  position: fixed; top: 0; left: 0;
  width: 100%;
  box-sizing: border-box;
  background: #000;
  color: #fff;
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
  font-size: 10px;
  text-transform: uppercase;

  ul {
    margin: 0;
    padding: 0;
  }

  ul li {
    list-style: none;
    display: inline-block;
  }

  ul li a {
    display: inline-block;
    font-size: 10px;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      color: #fff;
    }
  }

  .current-user-first-name {
    margin-right: 15px;
  }
}

.nav-left {
  display: inline-block;
  width: 49%;
  text-align: left;
}

.nav-right {
  float: right;
  display: inline-block;
  width: 49%;
  text-align: right;
}

/* MAIN */

main {
  margin-top: 49px;
}

.home-page {
  position: absolute;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.home-projects-sidebar {
  position: fixed;
  top: 49px;
  vertical-align: top;
  float: left;
  width: 25%;
  height: 100%;
  box-sizing: border-box;
  padding: 30px;
  background: #eee;
  border-right: 1px solid #ddd;
}

.home-user-feed {
  position: relative;
  left: 25%;
  vertical-align: top;
  width: calc(75% - 1px);
  box-sizing: border-box;
  padding: 30px;
}

.user-profile {
  padding: 30px;
}

.home-search {
  text-align: center;
  min-height: 300px;
  padding: 30px 0;
}

.project-showcase {
  background: #eee;
  border-top: 1px solid #ddd;
  min-height: 300px;
  padding: 30px 0;

  h1 {
    text-align: center;
  }
}

/* FOOTER */

footer {
  clear: both;
  background: #ddd;
  border-top: 1px solid #ccc;
  padding: 40px;
}
