body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
}

p, ol, ul, td, h1 {
  font-family: verdana, arial, helvetica, sans-serif;
  margin: 0 0 20px;
}

.btn {
  display: inline-block;
  background-color: #fff;
  cursor: pointer;
  margin: 10px 0 0;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #000;
}

.clear {
  clear: both;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  text-decoration: none;
  color: #000;

  &:visited {
    color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

/* NAV */

.navbar {
  position: fixed; top: 0; left: 0;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
  background: #000;
  color: #fff;
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
  font-size: 10px;
  text-transform: uppercase;

  ul {
    margin: 0;
    padding: 0;
  }

  ul li {
    list-style: none;
    display: inline-block;
  }

  ul li a {
    display: inline-block;
    font-size: 10px;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      color: #fff;
    }
  }

  .current-user-first-name {
    margin-right: 15px;
  }
}

.nav-left {
  display: inline-block;
  width: 49%;
  text-align: left;
}

.nav-right {
  float: right;
  display: inline-block;
  width: 49%;
  text-align: right;
}

/* MAIN */

main {
  margin: 49px 0 150px;
  padding: 20px;
}

.register-login {
  text-align: center;
}

.home-page {
  position: absolute;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.home-projects-sidebar {
  overflow: scroll;
  position: fixed;
  left: 0;
  top: 49px;
  vertical-align: top;
  float: left;
  width: 225px;
  height: calc(100% - 49px);
  box-sizing: border-box;
  padding: 20px;
  background: #eee;
  border-right: 1px solid #ddd;

  h2, h3 {
    padding-top: 20px;
    margin: 0 0 20px;
    clear: both;
  }

  a {
    margin-bottom: 5px;
    float: left;
    clear: both;
  }
}

.search-results {
  text-align: center;
}

.user-image {
  max-width: 100px;
  margin: 0 0 15px;
}

.home-user-feed {
  position: absolute;
  top: 49px;
  left: 225px;
  width: calc(100% - 225px);
  box-sizing: border-box;
  padding: 20px;
  vertical-align: top;
  box-sizing: border-box;
}

.search-form {
  width: 225px;
  margin: 0 auto;
  text-align: center;

  input[type="text"] {
    border: 1px solid #ccc;
    padding: 5px 7px 5px;
    font-size: 13px;
    border-radius: 5px;
    width: 210px;
  }

  input[type="submit"] {
    cursor: pointer;
    background: #000;
    color: #fff;
    border: 1px solid #000;
    margin: 15px 15px 10px;
    padding: 4px 14px 4px;
    font-size: 13px;
    border-radius: 5px;
  }

}

.partial-profile {
  position: relative;
  font-size: 11px;
  text-align: left;
  display: inline-block;
  vertical-align: top;
  max-width: 355px;
  min-height: 268px;
  margin: 10px;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;

  p {
    margin: 0;
  }

  .user-info {

    p {
      display: inline-block;
      text-align: left;
      margin: 0 0 1px 20px;
      width: calc(100% - 120px);
    }

  }

  .user-image {
    float: left;
  }

  .profile-skills {
    display: inline-block;
    vertical-align: top;
    float: left;
    box-sizing: border-box;
    padding-right: 10px;
    width: 50%;

    ul.user-skills {
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        display: inline-block;
      }
    }

  }

  .view-profile-space {
    height: 40px;
  }

  a {
    position: absolute;
    bottom: 20px;
  }

}

.pagination {
  text-align: center;
  margin: 25px 0;

  .first, .prev {
    a {
      letter-spacing: 1px;
      font-size: 10px;
      font-style: italic;
      padding-right: 10px;
      color: #999;
    }
  }

  .next, .last {
    a {
      letter-spacing: 1px;
      font-size: 10px;
      font-style: italic;
      padding-left: 10px;
      color: #999;
    }
  }

  .page {
    padding: 5px 5px 6px 10px;
    border: 1px solid #ddd;
  }

  .current {
    background: #eee;
  }

}

.project-showcase {
  border-top: 1px solid #ddd;
  padding-top: 25px;
  min-height: 300px;

  h1 {
    text-align: center;
  }
}

/* FOOTER */

footer {
  clear: both;
  background: #ddd;
  border-top: 1px solid #ccc;
  padding: 40px;
  margin-top: 40px;
}
