@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Questrial');

@mixin transition($transition) {
  -webkit-transition: all $transition ease;
  -moz-transition: all $transition ease;
  -ms-transition: all $transition ease;
  -o-transition: all $transition ease;
  transition: all $transition ease;
}

body {
  background-color: #fff;
  color: #333;
  font-family: 'Questrial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
}

strong {
  font-family: 'Montserrat', sans-serif;
}

p, ol, ul, td {
  margin: 0 0 10px;
}

.alert-info {
  text-align: center;
  padding-top: 20px;
}


input, textarea {
  box-sizing: border-box;
  border: 1px solid #ddd;
  color: #909090;
  padding: 5px 7px 5px;
  font-weight: 300;
  font-size: 12px;
  border-radius: 5px;
  @include transition(0.3s);

  &:focus {
    border: 1px solid #aaa !important;
    color: #000 !important;
    outline: none !important;
  }

}

input[type="submit"] {
  display: block;
  cursor: pointer;
  background: #2753b5;
  color: #fff;
  border: none;
  margin: 15px 0 10px;
  padding: 7px 20px;
  font-size: 13px;
  border-radius: 5px;
}

h1 {
  font-family: 'Questrial', sans-serif;
  font-weight: 400;
  color: #2753b5;
  font-size: 25px;
  text-align: center;
  margin: 0px;
  padding: 40px;
}

.btn {
  display: inline-block;
  cursor: pointer;
  margin: 10px 0 0;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid #000;
}

.clear {
  clear: both;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  text-decoration: none;
  color: #000;

  &:visited {
    color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

/* NAV */

.navbar {
  font-family: 'Questrial', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
  background: #2753b5;
  color: #fff;
  padding: 5px 10px;
  font-size: 11px;
  text-transform: uppercase;

  ul {
    margin: 0;
    padding: 0;
  }

  ul li {
    list-style: none;
    display: inline-block;
  }

  ul li a.logo {
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
  }

  ul li a {
    font-family: 'Questrial', sans-serif;
    display: inline-block;
    font-size: 11px;
    color: #fff;
    padding: 11px 10px 7px;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      color: #fff;
    }
  }

  .current-user-first-name {
    margin-right: 15px;
  }
}

.nav-left {
  display: inline-block;
  width: 49%;
  text-align: left;
}

.nav-right {
  float: right;
  display: inline-block;
  width: 49%;
  text-align: right;
}

/* MAIN */

main {
  margin: 49px 0 150px;
}

.home-page {
  position: absolute;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.home-projects-sidebar {
  font-family: 'Questrial', sans-serif;
  overflow: scroll;
  position: fixed;
  left: 0;
  top: 48px;
  vertical-align: top;
  float: left;
  width: 225px;
  height: calc(100% - 48px);
  box-sizing: border-box;
  padding: 20px;
  color: #000;
  background: #f7f7f7;
  border-right: 1px solid #ddd;

  h2, h3 {
    padding: 20px 0 10px;
    font-weight: normal;
    margin: 0 0 20px;
    clear: both;
    border-bottom: 1px solid #000;
  }

  a {
    color: #000;
    margin-bottom: 5px;
    float: left;
    clear: both;
  }

  a.btn {
    border: 1px solid #000;
    color: #000;
  }
}

.search-results {
  text-align: center;
}

.user-profile {
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  border-bottom: 1px solid #ddd;

  .user-image {
    max-width: 150px;
    margin: 0;
    float: left;
  }

  .info {
    display: inline-block;
    float: left;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid #ddd;
  }

  p {
    margin: 0;
  }

  .edit-profile {
    position: absolute;
    bottom: 10px;
    right: 50%;
    margin-right: -31px;
    font-size: 12px;
    display: inline-block;
    font-style: italic;
    color: #989898;
    letter-spacing: 0.5px;
  }

  .reputation-system {
    position: absolute;
    top: 20px;
    right: 25px;
    text-align: right;

    h3 {
      font-family: 'Montserrat', sans-serif;
    }

  }

}

.user_skills {
  box-sizing: border-box;
  padding: 20px;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

.user_projects {
  box-sizing: border-box;
  padding: 0 20px 20px;
}

.user-image {
  max-width: 100px;
  margin: 0 0 15px;
}

.home-user-feed {
  position: absolute;
  top: 49px;
  left: 225px;
  width: calc(100% - 225px);
  box-sizing: border-box;
  padding: 20px;
  vertical-align: top;
  box-sizing: border-box;
}

.home-search {
  padding: 0 0 40px;
}
.user-search {
}

.search-form {
  width: 210px;
  margin: 0 auto 20px;
  text-align: center;

  input[type="text"] {
    box-sizing: border-box;
    border: 1px solid #ddd;
    color: #ddd;
    padding: 5px 7px 5px;
    font-size: 13px;
    border-radius: 5px;
    width: 210px;
  }

  input[type="submit"] {
    cursor: pointer;
    display: inline-block;
    background: #2753b5;
    color: #fff;
    border: none;
    margin: 15px 0 10px;
    padding: 7px 20px;
    font-size: 13px;
    border-radius: 5px;
  }

}

.user-post-form {
  width: 100%;
  margin: 0;
  text-align: left;

  textarea {
    box-sizing: border-box;
    border: 1px solid #ddd;
    color: #ddd;
    padding: 5px 7px 5px;
    font-size: 13px;
    border-radius: 5px;
    width: 100%;
    max-width: 490px;
    height: 140px;
  }

  input[type="submit"] {
    display: block;
    cursor: pointer;
    background: #2753b5;
    color: #fff;
    border: none;
    margin: 15px 0 10px;
    padding: 7px 20px;
    font-size: 13px;
    border-radius: 5px;
  }

}

.add-skill-form {

  input[type="text"] {
    padding: 2px 5px;
    width: 100px;
  }

  input[type="submit"] {
    font-size: 11px;
    display: inline-block;
    margin-left: 5px;
    padding: 4px 10px;
  }

}

.feed-list {

  h1 {
    text-align: left;
    padding: 10px 0 20px;
  }

}

form.new_project {
  width: 300px;
  margin: 0 auto;

  input#project_name, input#project_project_url {
    width: 300px;
  }
  textarea#project_description {
    width: 300px;
    height: 100px
  }
  input#project_start_date, input#project_finish_date {
    padding: 3.5px 7px;
  }

}

.partial-profile {
  position: relative;
  font-size: 11px;
  text-align: left;
  display: inline-block;
  vertical-align: top;
  max-width: 355px;
  min-height: 268px;
  margin: 10px;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;

  p {
    margin: 0;
  }

  .user-info {

    p {
      display: inline-block;
      text-align: left;
      margin: 0 0 1px 20px;
      width: calc(100% - 120px);
    }

  }

  .user-image {
    float: left;
  }

  .profile-skills {
    display: inline-block;
    vertical-align: top;
    float: left;
    box-sizing: border-box;
    padding-right: 10px;
    width: 50%;

  }

  .view-profile-space {
    height: 40px;
  }

  a {
    position: absolute;
    bottom: 20px;
  }

}

ul.user-skills {
  font-size: 11px;
  padding: 0;
  margin: 0 0 2px;

  li {
    list-style: none;
    display: inline-block;
    background: #cfe4ff;
    padding: 0 5px;
    margin: 2px 1px;
    border-radius: 3px;
    border: 1px solid #5b8eff;
    color: #0038b3;
  }

}

.pagination {
  text-align: center;
  margin: 25px 0;

  .first, .prev {
    a {
      letter-spacing: 1px;
      font-size: 10px;
      font-style: italic;
      padding-right: 10px;
      color: #999;
    }
  }

  .next, .last {
    a {
      letter-spacing: 1px;
      font-size: 10px;
      font-style: italic;
      padding-left: 10px;
      color: #999;
    }
  }

  .page {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 23px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #ddd;

    a {
      position: absolute;
      top: 0;
      left: 0;
      line-height: 20px;
      width: 100%;
    }
  }

  .current {
    background: #eee;
  }

}

.project-showcase {
  padding-top: 25px;
  background: #fbfbfb;
  border-top: 1px solid #ddd;
  text-align: center;

  .mentor-project {
    display: inline-block;
    vertical-align: top;
    font-size: 11px;
    padding: 0 20px !important;
    margin: 10px !important;
  }

}

/* FOOTER */

footer {
  clear: both;
  background: #ddd;
  border-top: 1px solid #ccc;
  padding: 40px;
  margin-top: 40px;
}
