// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Vendor
@import "font-awesome-sprockets";
@import "font-awesome";



.user_skills {
  display: flex;

  .as_mentor {
    width: 50%;
    border: 1px solid #000000;
    margin: 5px;
    padding: 5px;

    .fa-times {
      color: red;
    }
  }

  .as_mentee {
    width: 50%;
    border: 1px solid #000000;
    margin: 5px;
    padding: 5px;

    .fa-times {
      color: red;
    }
  }

  .title {
    font-weight: bold;
    text-decoration: underline;
  }

  .container_mentor_skills {
    border: 1px solid #e3e3e3;
    width: 100%
  }

  .container_mentee_skills {
    border: 1px solid #e3e3e3;
    width: 100%;
  }

}

.user_projects {
  overflow: hidden;

  h2 {
    margin-top: 50px;
    text-align: center;
  }

  img {
    margin: 0;
  }

  .as_mentor {
    display: inline-block;
    float: left;
    width: 50%;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
    padding: 5px 50px;
  }

  .mentor-project {
    max-width: 400px;
    margin: 0 auto 20px;
    box-sizing: border-box;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;

    .users {
      width: 100%;
      display: inline-block;
      vertical-align: top;
      text-align: center;
    }

    .project-info {

      max-width: 225px;
      margin: 0 auto;

      h5 {
        margin: 0;
      }

      a {
        display: block;
        margin: 30px auto;
        width: 81px;
      }

    }

    .user {
      width: 100px;
      vertical-align: top;
      margin: 0 10px;
      display: inline-block;
      text-align: center
    }
  }

  .mentee-project {
    max-width: 400px;
    margin: 0 auto 20px;
    box-sizing: border-box;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;

    .users {
      width: 100%;
      display: inline-block;
      vertical-align: top;
      text-align: center
    }

    .project-info {
      max-width: 225px;
      margin: 0 auto;

      h5 {
        margin: 0;
      }

      a {
        display: block;
        margin: 30px auto;
        width: 81px;
      }

    }

    .user {
      width: 100px;
      vertical-align: top;
      margin: 0 10px;
      display: inline-block;
      text-align: center
    }
  }

  .as_mentee {
    display: inline-block;
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 5px 50px;
  }

  .title {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }

  .container_mentor_projects {
    border: 1px solid #e3e3e3;
    width: 100%;
  }

  .container_mentee_projects {
    border: 1px solid #e3e3e3;
    width: 100%;
  }

}
