// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Vendor
@import "font-awesome-sprockets";
@import "font-awesome";



.user_skills {

  .as_mentor {
    width: 50%;
    float: left;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
    padding: 0 20px 0 0;

    .fa-times {
      color: #2753b5;
    }
  }

  .as_mentee {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 0 0 0 20px;

    .fa-times {
      color: #2753b5;
    }
  }

  .title {
    display: inline-block;
    margin-bottom: 10px;
  }

  .container_mentor_skills {
    border: 1px solid #e3e3e3;
    width: 100%
  }

  .container_mentee_skills {
    border: 1px solid #e3e3e3;
    width: 100%;
  }

}

.user_projects, .project-showcase {
  overflow: hidden;

  h2 {
    margin-top: 50px;
    text-align: center;
  }

  img {
    margin: 0;
  }

  .as_mentor {
    display: inline-block;
    float: left;
    width: 50%;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
    padding: 5px 50px;
    text-align: center;
  }

  .mentor-project {
    border-radius: 5px;
    text-align: left;
    max-width: 340px;
    margin: 0 auto 20px;
    box-sizing: border-box;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;

    h4 {
      font-family: 'Montserrat', sans-serif;
      font-size: 13px;
      margin: 20px 0 5px;
    }

    h5 {
      font-family: 'Montserrat', sans-serif;
      margin: 0;
      font-size: 12px;
    }

    .users {
      width: 100%;
      display: inline-block;
      vertical-align: top;
      text-align: center;
    }

    .project-info {

      max-width: 220px;
      margin: 0 auto;

      a {
        display: block;
        margin: 30px auto;
        width: 81px;
        text-align: center;
      }

    }

    .user {
      width: 100px;
      vertical-align: top;
      margin: 0 10px;
      display: inline-block;
      text-align: center
    }
  }

  .mentee-project {
    text-align: left;
    max-width: 340px;
    margin: 0 auto 20px;
    box-sizing: border-box;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;

    h5 {
      font-family: 'Montserrat', sans-serif;
      margin: 0;
      font-size: 12px;
    }

    .users {
      width: 100%;
      display: inline-block;
      vertical-align: top;
      text-align: center
    }

    .project-info {
      max-width: 220px;
      margin: 0 auto;

      a {
        display: block;
        margin: 30px auto;
        width: 81px;
        text-align: center;
      }

    }

    .user {
      width: 100px;
      vertical-align: top;
      margin: 0 10px;
      display: inline-block;
      text-align: center
    }
  }

  .as_mentee {
    display: inline-block;
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 5px 50px;
    text-align: center;
  }

  .title {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }

  .container_mentor_projects {
    border: 1px solid #e3e3e3;
    width: 100%;
  }

  .container_mentee_projects {
    border: 1px solid #e3e3e3;
    width: 100%;
  }

}

@media (max-width: 920px) {

  .user_projects .as_mentor, .project-showcase .as_mentor, .user_projects .as_mentee, .project-showcase .as_mentee {
    display: inline-block;
    float: left;
    width: 100%;
    border-right: none;
    box-sizing: border-box;
    padding: 5px 50px;
  }

}

@media (max-width: 600px) {

  .user_skills .as_mentor {
    width: 100%;
    float: left;
    border-right: none;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    padding: 0 0 10px 0;
  }

  .user_skills .as_mentee {
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 20px 0 0 0;
  }

}
